<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/6016/6016314.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Dancing+Script:wght@400;700&family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Barlow&family=Bebas+Neue&family=Dancing+Script:wght@400;700&family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../views/css/registro.css">
    <title>Registrarse</title>
</head>
<body>
    <header class="col-12 container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-7 col-lg-3 h-25 d-flex align-items-center justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/512/6016/6016314.png" alt="Foto logo" class="col-3 h-100 sombra">
                <a href="principal.html"><h1 class="col-2 h1size mt-2 sombra">HBASICSPORT</h1></a>
            </div>
    </header>
    <br>
    <br>
    <main class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-6 pt-4 ">
                <h1 class="row ms-5">Registrate</h1>
                <form action="">
                    <div class="input-container row position-relative mt-4 ms-5">
                        <i class="fas fa-user"></i>
                        <input id="nombre" type="text" class="inputBonito w-75" placeholder="Nombre">
                    </div>
                    <div class="input-container row position-relative mt-3 ms-5">
                        <i class="fas fa-user"></i>
                        <input id="apellido" type="text" class="inputBonito w-75 " placeholder="Apellido">
                    </div>
                    <div class="input-container row position-relative mt-3 ms-5">
                        <i class="fas fa-envelope"></i>
                        <input id="nombreCorreo" type="email" class="inputBonito w-75 " placeholder="Correo electrónico">
                    </div>
                    <div class="input-container row position-relative mt-3 ms-5">
                        <i class="fas fa-lock"></i>
                        <input id="nombreCorreo" type="password" class="inputBonito w-75 " placeholder="Contraseña">
                    </div>
                    <div class="row container mt-4 ms-5">
                        <input type="submit" value="Registrate" class="col-11 w-75 me-2 botonRegistro">
                      </div>
                    </form>
                    <div class="row text-center w-75 ms-5">
                      <p class="mt-2 olvidado">¿Has olvidado tu contraseña?
                        <a href="" class="enlaceRegistro"> Clica aquí.</a></p>
                    </div>

                    <p class="mt-3 mb-4 ms-5">¿Ya tienes cuenta?<strong><a href="principal.html" id="inicioSesion" class="enlaceRegistro"> Inicia sesión.</a></strong></p>
                    <div class="row d-flex d-md-none contenedorabajo d-flex flex-column align-items-center justify-content-center p-5 text-center">
                        <h1>HBASICSPORT</h1>
                        <p>Registrate ahora en la mejor tienda online de ropa y accesorios de gimnasio.¡No te pierdas nuestra amplia selección de productos de alta calidad! Descubre las últimas tendencias en moda deportiva y eleva tu estilo en el gimnasio. Regístrate hoy y obtén descuentos exclusivos.</p>
                    </div>
                </form>
            </div>
            <div class="col-6 d-none d-md-flex contenedorDerecha d-flex flex-column align-items-center justify-content-center p-5 text-center">
                <h1>HBASICSPORT</h1>
                <p>Registrate ahora en la mejor tienda online de ropa y accesorios de gimnasio.¡No te pierdas nuestra amplia selección de productos de alta calidad! Descubre las últimas tendencias en moda deportiva y eleva tu estilo en el gimnasio. Regístrate hoy y obtén descuentos exclusivos.</p>
            </div>
        </div>
        
    </main>
    <br>
    <br>
    <footer class="container-fluid">
        <footer class="py-5">
          <div class="row">
            <div class="col-4 col-md-1 mb-3">
            </div>
      
            <div class="col-6 col-md-2 mb-3">
                <a href=""><img src="https://cdn-icons-png.flaticon.com/512/6016/6016314.png" alt="Foto logo" class="col-3  sombra"></a>
              <ul class="nav flex-column ">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 linkfooter">Tienda</a></li>
                <li class="nav-item mb-2"><a href="principal.html#informacion" class="nav-link p-0 linkfooter">Información</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 linkfooter">Ropa</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 linkfooter">Accesorios</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Busca productos</h5>
                <p>Encuentra cual es tu producto perfecto.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Escribe el nombre">
                  <button class="btn btn-dark" type="button">Buscar</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p class="textoFooter">© 2023 HBASICSPORT-JOSE LUIS TARRAGA SEGURA-2DAW</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram ifooter"></i></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook ifooter"></i></li>
              <li class="ms-3"><a class="link-dark" href="#"><i class="bi bi-twitter-x ifooter"></i></a></li>
            </ul>
          </div>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      document.getElementById('inicioSesion').addEventListener('click',()=>{
        sessionStorage.setItem("iniciosesion","true");
      })
    </script>
</body>
</html>