.dialog{
    background-color: white;
    border: 0;
    border-radius: 10px;
}
.botoncross{
    background-color: white;
    border: 0;
}
.cross{
    font-size: 25px;
    color: rgb(73, 73, 73);
}
.cross:hover{
    color: black;
}
.cross:active{
    filter: drop-shadow(0.3vw 0.1vw 0.4vw rgb(163, 163, 163));
}
.inputBonito{
    border: 1px solid;
    margin-left: 10px;
    border-color: rgb(175, 175, 175);
    border-radius: 10px;
    font-size: 20px;
}
.botonInicioSesion{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
    font-size: 25px;
}
.olvidado{
    color: gray;
}
.enlaceClicaaquí{
    color: black;
    text-decoration: none;
}
.enlaceClicaaquí:hover{
    text-decoration: underline;
}
.enlaceRegistro{
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
.enlaceRegistro:hover{
    color: gray;
    border-color: gray;
}
.botonInicioSesion:hover{
    transition: 0.3s;
    background-color: rgb(187, 187, 187);
    color: black;
}

