.hueco{
    height: 6vw;
}
.rojo:hover, .rojo:hover>i{
    color: red;
}
.imagenHombre{
    background-image: url('https://oleainfluenseller.com/cdn/shop/products/product-image-1423389228.jpg');
    background-position: top;
}
.imagenMujer{
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/gymsharkwomen-121234369-2677266559269339-5036545344300294704-n-1605517562.jpg');
    background-position: top;
}
.imagenAccesorio{
    background-image: url('https://m.media-amazon.com/images/I/71GeLPOOAIL.jpg');
    background-position: center;
}
.informacionC{
    background-color: black;
    color: white;
}
.fontTitle{
    font-family: 'Bebas Neue', sans-serif;
}
div[class*="imagen"]{
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
}
a[class*="botonesTipos"]{
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
    border: 0;

}